.moviePic img{
	display: block;
	margin-left: auto;
    margin-right: auto;
	height: 300px;
	width: 50%;
	opacity: 1;
}

.movieDetail{
margin-top : 200px;
background:aquamarine;
position: fixed;
border : 5px solid black;
border-radius:10px;
top : 150px;
width:90%;
padding: 10px;
font-weight: bold;
text-align: center;
font-size: 14px;	
}


/* Your CSS Code here. */